body{
background-image: url("Travel-Agencies.jpg");
background-size: cover;
background-repeat: no-repeat;
width: 100vw;
height: 100vh;

}


 .border{
     border-radius: 4px;
 }
 h1{
     padding-left: 200px;
     padding-top:220px;
 }
 
 


 .bg-info{
     width: 400px;
     text-align: center;
     margin: 0 170px;
     background-color: blue;
 }
 .refresh{
margin-top: -50px
 }
 